

// headers
h1 {font-size: 2.4em}
h2 {font-size: 2.1em}
h3 {font-size: 1.8em}
h4 {font-size: 1.5em}
h5 {font-size: 1.2em}

h1, h2, h3,
h4, h5, h6 {
  color: $color-grey-5;
  
  span.sub {
    color: $color-grey-3;
    font-size: .7em;
    font-weight: $font-weight-light;
  }
}


// Page Header
.page-header {
  border-bottom: solid 1px $color-white-5;
  
  span {
    font-size: .8em;
    color: $color-grey-3;
  }
}

// Inline text next to icon
.w-icon {
  vertical-align: middle;
}


.gi {
  vertical-align: middle;
  font-size: 20px;
  
  &.left {
    margin-right: 6px;
  }
  
  &.right {
    margin-left: 6px;
  }
  
  &.gi-14 {
    font-size: 14px;
    vertical-align: baseline;
  }
  
  &.gi-3x {
    font-size: 3em;
  }
  
  &.gi-4x {
    font-size: 4em;
  }

  &.gi-5x {
    font-size: 4em;
  }
  
  &.gi-origin {
    font-size: 20px;
  }
}