@font-face {
	font-family: 'Genomicons';
	src:url('Genomicons.eot?wnsndn');
	src:url('Genomicons.eot?#iefixwnsndn') format('embedded-opentype'),
		url('Genomicons.woff?wnsndn') format('woff'),
		url('Genomicons.ttf?wnsndn') format('truetype'),
		url('Genomicons.svg?wnsndn#Genomicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="gi-"], [class*=" gi-"] {
	font-family: 'Genomicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.gi-arrow-down:before {
	content: "\e600";
}
.gi-arrow-left:before {
	content: "\e601";
}
.gi-arrow-right:before {
	content: "\e602";
}
.gi-arrow-up:before {
	content: "\e603";
}
.gi-atom:before {
	content: "\e604";
}
.gi-briefcase:before {
	content: "\e605";
}
.gi-check:before {
	content: "\e606";
}
.gi-eye:before {
	content: "\e607";
}
.gi-eye-alt:before {
	content: "\e608";
}
.gi-file:before {
	content: "\e609";
}
.gi-file-refresh:before {
	content: "\e60a";
}
.gi-file-text:before {
	content: "\e60b";
}
.gi-file-view:before {
	content: "\e60c";
}
.gi-first-aid:before {
	content: "\e60d";
}
.gi-flask-empty:before {
	content: "\e60e";
}
.gi-flask-fill:before {
	content: "\e60f";
}
.gi-flask-full:before {
	content: "\e610";
}
.gi-flask-plus:before {
	content: "\e611";
}
.gi-flask-plus-fill:before {
	content: "\e612";
}
.gi-flasks:before {
	content: "\e613";
}
.gi-gear:before {
	content: "\e614";
}
.gi-home:before {
	content: "\e615";
}
.gi-hospital:before {
	content: "\e616";
}
.gi-key:before {
	content: "\e617";
}
.gi-lock:before {
	content: "\e618";
}
.gi-lock-alt:before {
	content: "\e619";
}
.gi-map:before {
	content: "\e61a";
}
.gi-menu:before {
	content: "\e61b";
}
.gi-menu-alt:before {
	content: "\e61c";
}
.gi-pencil:before {
	content: "\e61d";
}
.gi-planet:before {
	content: "\e61e";
}
.gi-pulse:before {
	content: "\e61f";
}
.gi-pulse-heart:before {
	content: "\e620";
}
.gi-push-pin:before {
	content: "\e621";
}
.gi-push-pin-alt:before {
	content: "\e622";
}
.gi-question-mark:before {
	content: "\e623";
}
.gi-refresh:before {
	content: "\e624";
}
.gi-refresh-alt:before {
	content: "\e625";
}
.gi-save:before {
	content: "\e626";
}
.gi-search:before {
	content: "\e627";
}
.gi-search-minus:before {
	content: "\e628";
}
.gi-search-plus:before {
	content: "\e629";
}
.gi-share:before {
	content: "\e62a";
}
.gi-sort:before {
	content: "\e62b";
}
.gi-times:before {
	content: "\e62c";
}
.gi-trash:before {
	content: "\e62d";
}
.gi-unlock:before {
	content: "\e62e";
}
.gi-unlock-alt:before {
	content: "\e62f";
}
.gi-upgrade:before {
	content: "\e630";
}
.gi-warning:before {
	content: "\e631";
}
.gi-white-label:before {
	content: "\e632";
}
