
<div class="lead text-center mt-large">
    Genomicons (Genome Icons) is a free icon font geared directly for health and science applications.<br>
</div>

<div class="text-center">
    <button class="button mr-medium" ui-sref="icons.all">
        <i class="gi gi-eye-alt"></i>
        <span>View Icons</span>
    </button>
    <button class="button">
        <i class="gi gi-arrow-down"></i>
        <span>Download</span>
    </button>
</div>

<div class="home-count text-center">
    51 pixel-perfect icons
</div>

<div class="home-icon-set" icon-box>
    <div class="icon-box ib1">
        <i class="gi gi-atom"></i>
    </div>
    <div class="icon-box ib2">
        <i class="gi gi-atom"></i>
    </div>
    <div class="icon-box ib3">
        <i class="gi gi-atom"></i>
    </div>
</div>