<div class="container">
    <div class="header">
        <div class="head-atom text-center">
            <i class="gi gi-atom"></i>
        </div>
        <div class="logo">
            GENOMICONS<span class="status">alpha v0.1</span>
        </div>
        <ul class="top-nav">
            <li ui-sref-active="isActive">
                <a ui-sref="home">HOME</a>
            </li>
            <li ui-sref-active="isActive">
                <a ui-sref="icons">ICONS</a>
            </li>
            <li ui-sref-active="isActive">
                <a ui-sref="download">DOWNLOAD & USE</a>
            </li>
            <li ui-sref-active="isActive">
                <a ui-sref="about">ABOUT</a>
            </li>
        </ul>
    </div>
</div>

